<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agence Immobilière - Essaouira</title>
    <link rel="stylesheet" href="/stylesheets/accueil.css">
</head>
<body class="loading-anim">
    <div id="video-container">
        <video id="presentation-video" autoplay muted loop>
            <source src="/videos/essaouira.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
        <div id="content">
            <h1>Bienvenue à notre Agence Immobilière à Essaouira</h1>
            <p>Découvrez nos services et contactez-nous pour trouver la propriété de vos rêves.</p>
            <button id="play-video">En savoir plus sur nos services</button>
            <button id="contact-us">Nous contacter</button>
        </div>
        <video id="service-video">
            <source src="/videos/services.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
    </div>
    <div id"ville">
        <h2>Essaouira</h2>
        <p>Essaouira est une ville côtière du Maroc, située sur la côte atlantique. Elle est connue pour ses plages, ses sports nautiques et son architecture coloniale portugaise. La médina est protégée par des remparts du XVIIIe siècle, avec des ruelles étroites et des maisons blanches aux volets bleus. Avec ses souks animés, ses cafés et ses restaurants, la ville est un lieu de vacances populaire pour les Marocains et les étrangers.</p>
    </div>
    <div id="information">
        <div id="contact">

        </div>
        <div id="services">

        </div>
    </div>
</body> 

<script src="/javascript/accueil.js"></script>
</html>